# DATABASE CONFIG
DB_USER=linkforge_user
DB_PASSWORD=your_secure_password_here
DB_NAME=linkforge
DB_PORT=5432

# REDIS CONFIG
REDIS_PORT=6379

# KAFKA CONFIG
KAFKA_PORT=9092

# SWAGGER CONFIG
SWAGGER_PORT=8090
